<div class="articles row row-cols-1 row-cols-lg-3">
    <div class="col mb-3">
      <div class="card text-center">
        <h4 class="card-header">Opinions</h4> 
        <div class="card-body">
          <p class="card-text">Personal thougths and views on specific topics.</p>
          <a href="https://decodetech.eu/category/opinions/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
        </div>
    </div>
</div>
<div class="col mb-3">
    <div class="card text-center">
      <h4 class="card-header">Explained</h4> 
      <div class="card-body">
        <p class="card-text">Brief introductions to (new) technologies and digital trends.</p>
        <a href="https://decodetech.eu/category/explained/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
      </div>
  </div>
</div>
<div class="col mb-3">
    <div class="card text-center">
      <h4 class="card-header">Deep dives</h4> 
      <div class="card-body">
        <p class="card-text">Detailed analyses of specific questions and technologies.</p>
        <a href="https://decodetech.eu/category/deep-dives/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
      </div>
  </div>
</div>
<div class="col mb-3">
    <div class="card text-center">
      <h4 class="card-header">I've read</h4> 
      <div class="card-body">
        <p class="card-text">Summaries of selected books and scientific articles.</p>
        <a href="https://decodetech.eu/category/ive-read/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
      </div>
  </div>
</div>
<div class="col mb-3">
    <div class="card text-center">
      <h4 class="card-header">I wrote</h4> 
      <div class="card-body">
        <p class="card-text">Overviews of articles published in other media.</p>
        <a href="https://decodetech.eu/category/i-wrote/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
      </div>
  </div>
</div>
<div class="col mb-3">
    <div class="card text-center">
      <h4 class="card-header">Interviews</h4> 
      <div class="card-body">
        <p class="card-text">Conversations with public and private stakeholders.</p>
        <a href="https://decodetech.eu/category/interview/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
      </div>
  </div>
</div>
<div class="col mb-3">
    <div class="card text-center">
      <h4 class="card-header">Others</h4> 
      <div class="card-body">
        <p class="card-text">Everything else.</p>
        <a href="https://decodetech.eu/category/others/" style="text-decoration: none;" class="btn btn-outline-secondary">Discover</a>
      </div>
  </div>
</div>
</div>

