<!-- Begin Sendinblue Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->
<style>
  @font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
  }

  #sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }
</style>
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<!--  END - We recommend to place the above code in head tag of your website html -->

<!-- START - We recommend to place the below code where you want the form in your website html  -->
      <form id="sib-form" method="POST" action="https://23ef29c6.sibforms.com/serve/MUIEAP-FBNLYlptT_EQRIaIIG4kimxOadz_fWNg5Ne32JcK1ADx37UpaTKYFy5kgHFWCodaBOIqNeEfmmCfdC_wKO_sdpvPjwmbhuROIGxuva-ig0KVc7aO1RCBpPBGlKUtKzEGPYjmWE6XmnwHa6yYCAulnyls2BQEi8JYWa742BH2XJZVL7c7KLM9x-dzpDozi2zmEyNIigIeR">
        <div style="padding: px 0;">
        </div>
        <div style="padding: 0px 0;">
            <div class="form__entry entry_block">
              <div class="form__label-row ">
                <label class="entry__label" style="font-size:18px; text-align:left; font-weight:500; font-family:&quot;Roboto&quot;, sans-serif; color:#143b51;" for="EMAIL" data-required="*">
                  Enter your email address and receive the best European tech stories directly in your mailbox.
                </label>

                <div class="entry__field">
                  <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="" data-required="true" required />
                </div>
              </div>

              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Roboto&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:6px; border-color:#143b51;">
              </label>
            </div>
        </div>
        <div style="padding: 15px 0;">
            <div class="form__entry entry_mcq">
              <div class="form__label-row ">
                <div class="entry__choice">
                  <label>
                    <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" required />
                    <span class="checkbox checkbox_tick_positive"></span><span style="font-size:16px; text-align:left; font-family:&quot;Roboto&quot;, sans-serif; color:#3C4858; background-color:transparent;"><p>By ticking this box I agree that I have read your <a href="https://decodetech.eu/privacypolicy/">privacy policy</a>.</p></span> </label>
                </div>
              </div>
              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
              <label class="entry__specification" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#8390A4;">
                We promise not to send more than one email per week. Also, you may unsubscribe at any time using the link in our emails.
              </label>
            </div>
        </div>

        </div>
        <div style="padding: 8px 0;">
            <button class="btn btn-outline-secondary" style="font-size:19px; text-align:left; font-weight:500; font-family:&quot;Roboto&quot;, sans-serif; color:#FFFFFF; background-color:#3d6478; border-radius:6px; border-width:0px;" form="sib-form" type="submit">
              <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
              </svg>
              Subscribe
            </button>
        </div>
        <input type="text" name="email_address_check" value="" class="input--hidden">
        <input type="hidden" name="locale" value="en">
        <input type="hidden" name="html_type" value="simple">
      </form>
<!-- END - We recommend to place the below code where you want the form in your website html  -->
<!-- End Sendinblue Form -->