{{ $current := . }}
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm py-2" id="navbar-main-menu">
    <div class="container">
        <a class="font-weight-bold" href="{{ .Site.BaseURL }}" style="font-size:121%;">[ DecodeTech ]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav ml-auto">
                <li class="navigation-item menu-separator">
                    <span>&nbsp;</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      Topics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="https://decodetech.eu/tags/ai/">Artificial intelligence</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/profiling/">Profiling</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/smart-city/">Smart city</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/green/">Green</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/trust/">Trust</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/governance/">Governance</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/digital-transition/">Digital transition</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/blockchain/">Blockchain</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/standards/">Standards</a>
                      <a class="dropdown-item" href="https://decodetech.eu/tags/international-relations/">International relations</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact</a>
                  </li>
            <li class="navigation-item menu-separator">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </li>  
            <li><a href="https://decodetech.eu/contribute/" class="btn btn-outline-secondary navbar-btn" role="button">Contribute</a></li><li class="navigation-item menu-separator">
                <span>&nbsp;</span>
            </li> 
        </ul>
        </div>
    </div>
</nav>

